
<div class="row main">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">  
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
                    <h4><a href="/profile" style="text-decoration:none;"><strong> 
                    <div> <%= announcement[count].user %></div> </strong> <%= announcement[count].email %></strong></a> – <small><small><a style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> <%= announcement[count].date %></i></a></small></small></h4>
                    <span>
                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <div class="post-content">
                        <p> <%= announcement[count].announcement %> </p>
                    </div>
                    <hr>
                    <div>
                        <div class="pull-left">
                            <p class="text-muted" style="margin-left:5px;"><i <i class="fa fa-tags" aria-hidden="true"></i> <%= announcement[count].job %> </p>
                        </div>
                        <br>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
</div>